/node_modules
/public/hot
/public/storage
/public/CareerAdviser-Front
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dev
.env.staging
.env.testing
.phpunit.result.cache
